---
layout: default
table-sorter: true
---

<script>
$(function() {
 $("#cars").tablesorter({
         widgets : ['zebra', 'filter', 'stickyHeaders', 'columnSelector', 'resizable', 'sort2Hash', 'storage', 'math','output'],
         showProcessing : true,
         usNumberFormat : false,
         widgetOptions : 
         	{ 
                        math_mask : '###0',
                        columnSelector_container : $("#columnSelector"),
                        columnSelector_mediaqueryHidden : true,

         	 }
  });
});

</script>
<div class="home">

<h1 class="page-heading">Situação de alguns Carros Elétricos no Brasil</h1>

<div id="columnSelector"></div>
<table id="cars" border="1">
<thead>
<tr>
<th>id</th>
<th>tipo</th>
<th class="columnSelector-disable">Veículo</th>
<th>Cidade</th>
<th>Estado</th>
<th>km</th>
<th>Data</th>
<th>Cap<br>Bateria<br>%</th>
<th>Obs</th>
</tr>
</thead>
{% for hash in site.data.cars %}
{% assign id = hash[0] %}
{% assign c = hash[1] %}
{% assign v = site.data.vehicles[c.vehicle] %}
{% assign kmAtual = c.kms[0] %}
  <tr> 
    <td><a href="cars/{{ id }}.html">{{ id }}</a></td>
    <td>{{ v.type }}</td>
    <td><a href="vehicles/{{ c.vehicle }}.html">{{ v.name }}</a></td>
    <td>{{ c.city }}</td>
    <td>{{ c.state }}</td>
    <td>{{ kmAtual.km }}</td>
    <td>{{ kmAtual.date }}</td>
    <td>{{ kmAtual.battery-estimate }}</td>
    <td>{{ kmAtual.obs }}</td>
  </tr>
{% endfor %}
<tfoot>
<tr>
<th colspan="9">Para garantir a privacidade dos proprietários os carros são identificados por números sequenciais</a>
</tr>
</tfoot>
</table>


</div>
