---
layout: default
---

<p>Os dados iniciais tiveram como base informações do Clemente Gauer

<p>Thiago Garcia forneceu dados iniciais sobre revisões de outros veículos

<p>Diversas pessoas colaboraram com ideias

<p>Os indices para <a href="conversoes.html">conversões</a> vieram de artigo do
<a href="https://insideevs.com">insideevs.com</a>
