---
layout: default
table-sorter: true
---

<script>
$(function() {
 $("#vehicles").tablesorter({
         widgets : ['zebra', 'filter', 'stickyHeaders', 'columnSelector', 
             'resizable', 'sort2Hash', 'storage', 'math','output'],
         showProcessing : true,
         usNumberFormat : false,
         widgetOptions : 
         	{ 
                        math_mask : '###0',
                        columnSelector_container : $("#columnSelector"),
                        columnSelector_mediaqueryHidden : true,

         	 }
  });
});

</script>
<div class="home">

  <h1 class="page-heading">Veículos</h1>
<div id="columnSelector"></div>
<table id="vehicles" border="1">
<thead>
<tr>
<th>tipo</th>
<th class="columnSelector-disable">Veículo</th>
<th class="columnSelector-disable">Ano Modelo</th>
<th>Bateria<br>(kWh)</th>
<th>Connector AC</th>
<th class="columnSelector-false">Potencia AC(kW)</th>
<th class="columnSelector-false">Potencia DC(kW)</th>
<th class="columnSelector-false">kg</th>
<th class="columnSelector-false">cv</th>
<th>kg/cv</th>
<th>Autonomia<br>Km(PBEV)</th>
<th class="columnSelector-false">Autonomia<br>Km(PBEV-Consumo)</th>
<th>Autonomia<br>Km(EPA)</th>
<th class="columnSelector-false">Autonomia<br>Km(WLTP)</th>
<th class="columnSelector-false">Autonomia<br>Km(NDEC)</th>
<th>Preço<br>(R$)</th>
<th>Data<br>Preço</th>
<th>Consumo<br>kWh/100Km<br>(EPA)</th>
<th>R$/100Km rodado<br>* (EPA)</th>
<th>R$/Km de autonomia<br>(EPA)</th>
</tr>
</thead>
{% for hash in site.data.vehicles %}
{% assign id = hash[0] %}
{% assign v = hash[1] %}
  <tr> 
    <td>{{ v.type }}</td><td><a href="vehicles/{{ id }}.html">{{ v.name }}</a></td>
    <td align="right">{{ v.my }}</td>
    <td align="right">{% include numf.html number=v.battery-usable-kwh decimals=1 %}</td>
    <td>{{ v.ac-connector-type }}</td>
    <td align="right">{% include numf.html number=v.ac-max-power decimals=0 %}</td>
    <td align="right">{% include numf.html number=v.dc-max-power decimals=0 %}</td>
    <td align="right">{% include numf.html number=v.weight decimals=0 %}</td>
    <td align="right">{% include numf.html number=v.ev-engine-power-cv decimals=0 %}</td>
    <td align="right">{% include numf.html number=v.ev-weight-power-cv %}</td>
    <td align="right">{% include numf.html number=v.range-pbev decimals=0 %}</td>
    <td align="right">{% include numf.html number=v.range-pbev-pelo-consumo-energetico decimals=0 %}</td>
    <td align="right">{% include numf.html number=v.range-epa decimals=0 %}</td>
    <td align="right">{% include numf.html number=v.range-wltp decimals=0 %}</td>
    <td align="right">{% include numf.html number=v.range-ndec decimals=0 %}</td>
    <td align="right">{% include numf.html number=v.price-br decimals=0 %}</td>
    <td align="right">{{ v.price-br-date }}</td>
    <td align="right">{% include numf.html number=v.consumption-kwh-100km-epa %}</td>
    <td align="right">{% include numf.html number=v.cost-br-100km-epa %}</td>
    <td align="right">{% include numf.html number=v.price-br-range-epa %}</td>
  </tr>
{% endfor %}
<tfoot>
<tr>
<th colspan="20">* Custo utilizado do kWh = R$ {{ site.cost-br-kwh }},
valores de autonomia que não são publicados em EPA são convertidos, portanto sujeitos a
variações em relação aos valores reais  </th>
</tr>
</tfoot>
</table>

<p><a href="{{ site.baseurl }}/revisoes.html">Comparativo de Revisões</a>



</div>
