---
layout: default
---

<p>{{ site.description }}

<p>Os dados são atualizados de acordo com a disponibilidade dos <a href="{{ site.baseurl
}}/colaboradores.html">Colaboradores</a>.

<p>O site passou por diversas atualizações, alguns veiculos que foram
atualizados posteriormente podem ter mais informações que veiculos
cadastrados no inicio.

<p>Mais informações sobre termos utilizados neste site : <a
href="https://www.forumve.com/forum/viewtopic.php?t=1898">Termos básicos sobre veículos elétricos</a>
