<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="http://forumve.com">forumve.com</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <p>Colabore em : <a target="_blank"href="https://gitlab.com/forumve/evs-brasil/-/tree/master/_data/vehicles">Gitlab</a></p>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
        <br><a href="{{ site.baseurl }}/sobre.html">Sobre o Site</a>
        <br><a href="{{ site.baseurl }}/colaboradores.html">Colaboradores</a>
      </div>
    </div>

  </div>

</footer>
