---
layout: default
---

<br>Carro : {{ page.car-id }}
{% assign v = site.data.vehicles[page.car.vehicle] %}
<br><a href="../vehicles/{{ page.car.vehicle }}.html">{{ v.name }}</a>
<br>Obs : {{ page.car.obs }}</a>


<table border="1">
<thead>
<tr>
<th>km</th>
<th>Data</th>
<th>Cap<br>Bateria<br>%</th>
<th>Obs</th>
</tr>
</thead>
<tbody>
{% for km in page.car.kms %}
<tr>
<td align="right">{{ km.km }}</td>
<td align="right">{{ km.date }}</td>
<td align="right">{{ km.battery-estimate }}</td>
<td>{{ km.obs }}</td>
</tr>
{% endfor %}

</tbody>
<tfoot>

</tfoot>
</table>

<hr>
<p><a href="{{page.car-id}}.json" target="_blank">Parametros em formato JSON</a>
<p><a href="https://gitlab.com/forumve/evs-brasil/-/blob/master/_data/cars/{{page.car-id}}.yaml" target="_blank">Definições</a>
